.preloader
  img(src="assets/images/preloader.gif", alt="Preloader DV")
header.header
  .header-wrap(data-aos-once="true"  data-aos-offset="0" data-aos="fade-down")
    img(src="assets/images/logo.svg", alt="Doctor Vasilev").header__logo
    .header-info
      a(href="tel: +7 (911) 737-37-37").header-info__phone +7 (911) 737-37-37
      .header-info-social
        a(href="#")
          img(src="assets/images/social/telegram.svg", alt="Telegram")
        a(href="#")
          img(src="assets/images/social/viber.svg", alt="Viber")
        a(href="#")
          img(src="assets/images/social/whats.svg", alt="What`s Up")
    <svg class="header__burger" width="32" height="32" viewBox="0 0 32 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0" y="0" width="32" height="2px" fill="black"/>
      <rect x="0" y="8" width="20" height="2px" fill="black"/>
    </svg>
  .header-overlay
    .header-gray
      nav.header-nav
        a(href="#result").header-nav__link Результаты операций
        a(href="#clinic").header-nav__link О клинике
        a(href="#stages").header-nav__link Этапы проведения
        a(href="#views").header-nav__link Виды ринопластики
        a(href="#features").header-nav__link Особенности операции
        a(href="#about").header-nav__link О хирурге
        a(href="#rehab").header-nav__link Реабилитация
        a(href="#faq").header-nav__link Популярные вопросы
      .header-overlay-bot
        p.header-overlay-bot__text Санкт-Петербург, ул. Полтавская, д. 7
        .header-overlay-bot-social
          a(href="#")
            img(src="assets/images/social/vk.svg", alt="ВКонтакте")
          a(href="#")
            img(src="assets/images/social/insta.svg", alt="Instagram")
          a(href="#")
            img(src="assets/images/social/fb.svg", alt="Facebook")
      .header-overlay-contacts
        a(href="tel: +7 (911) 737-37-37").header-overlay-contacts__phone +7 (911) 737-37-37
        .header-overlay-contacts-media
          a(href="#")
            img(src="assets/images/social/telegram.svg", alt="Telegram")
          a(href="#")
            img(src="assets/images/social/viber.svg", alt="Viber")
          a(href="#")
            img(src="assets/images/social/whats.svg", alt="What`s Up")
section.navbar
  .w1400.navbar-wrap
    .navbar__title Ринопластика
    nav.navbar-row
      a(href="#result").navbar-row__link Портфолио
      a(href="#views").navbar-row__link Виды ринопластики
      a(href="#stages").navbar-row__link Этапы проведения
      a(href="#about").navbar-row__link О хирурге
      a(href="#clinic").navbar-row__link О клинике
      a(href="#features").navbar-row__link Особенности операции
      a(href="#rehab").navbar-row__link Реабилитация
    a(data-popup).btn.btn_blue.navbar__call Записаться
    <svg class="header__burger" width="32" height="32" viewBox="0 0 32 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0" y="0" width="32" height="2px" fill="black"/>
      <rect x="0" y="8" width="20" height="2px" fill="black"/>
    </svg>