@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic');


@font-face {
  font-family: 'Visby CF';
  src: url('../fonts/VisbyCF-Medium.woff2') format('woff2'),
      url('../fonts/VisbyCF-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Visby CF';
  src: url('../fonts/VisbyCF-RegularOblique.woff2') format('woff2'),
      url('../fonts/VisbyCF-RegularOblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Visby CF Demi';
  src: url('../fonts/VisbyCF-DemiBold.woff2') format('woff2'),
      url('../fonts/VisbyCF-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

